@use '~/styles/common' as *;

.container {
	position: relative;
	flex-grow: 1;
	background-color: rgba(#fff, 0.8);
}

.inner {
	@include inner;

	padding-block: 20px;
}

.tree {
	position: relative;
	display: flex;
	column-gap: 20px;
	align-items: center;
	width: 100%;

	&_colors {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;

		&_item {
			display: flex;
			width: 40px;
		}

		&_btn {
			width: 100%;
			aspect-ratio: 1 / 1;
			font-weight: bold;
			color: #403535;
			cursor: pointer;
			border-radius: 5px;
		}
	}
}

.decoration {
	margin-top: 30px;

	&_list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&_item {
		width: 100%;

		&_btn {
			width: 100%;
			aspect-ratio: 1 / 1;
			background-color: #e7e7e7;
			border-radius: 5px;
		}
	}
}
