@use '~/styles/common' as *;

.container {
	position: relative;
	flex-grow: 1;
	background-color: rgba(#fff, 0.8);
}

.inner {
	@include inner;

	padding-block: 20px;
}

.tree {
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 20px;
	align-items: center;
	width: 100%;

	&_colors {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
		gap: 5px;

		&_item {
			display: flex;
		}

		&_btn {
			width: 100%;
			aspect-ratio: 1 / 1;
			font-weight: bold;
			color: #403535;
			cursor: pointer;
			border-radius: 5px;

			&[data-selected='true'] {
				border: solid 3px #79ccd3;
			}
		}
	}
}

.decoration {
	margin-top: 30px;

	&_list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 10px;
	}

	&_item {
		width: 100%;

		&_btn {
			width: 100%;
			aspect-ratio: 1 / 1;
			background-color: #e7e7e7;
			border-radius: 5px;

			&[data-selected='true'] {
				border: solid 3px #79ccd3;
			}
		}
	}
}

.saveButton {
	display: block;
	width: max-content;
	padding: 5px 10px 6px;
	margin-inline: auto;
	margin-top: 20px;
	font-size: get_size_pc(34px);
	font-weight: 500;
	color: #fff;
	background-color: #79ccd3;
	border-radius: 5px;

	@include min-md {
		font-size: get_px_to_vw(34px, $sp-viewport);
	}
}
