@use '~/styles/common' as *;

$modal-inner-width: 660px;

.container {
	position: relative;
	display: flex;
	flex-flow: column;
	width: 90vw;
	max-width: calc(get_clamp(500px, 600px) * (740 / 850));
	max-height: min(700px, 90vh);
	// padding: get_percent(50px, 740px) 0 get_percent(50px, 740px) get_percent(40px, 740px);
	overflow: hidden;
	background: #fff;
	border: 1.5px solid #000;
	border-radius: get_size_pc(20px);
}

.scroll {
	position: relative;
	display: flex;
	flex-flow: column;
	overflow-y: auto;

	@include customScrollBar;
}

.inner {
	padding: get_percent(50px, 740px) get_percent(40px, 740px);
}

.title {
	font-family: $font-anton;
	font-size: get_size_pc(70px);
	font-weight: 00;
	line-height: 1.05;
	color: #fff;
	text-align: center;
	letter-spacing: get_em(3px, 70px);
	white-space: nowrap;

	@for $i from 1 through length($title_colors) {
		&:not([data-slug='black']):not([data-slug='upload']) span[data-char='#{$i}'] {
			color: nth($title_colors, $i);
			-webkit-text-stroke-color: nth($title_colors, $i);
		}
	}

	@include min-md {
		font-size: get_px_to_vw(70px, $sp-viewport);
	}

	&_char {
		-webkit-text-stroke-color: #000;
		-webkit-text-stroke-width: get_em(1.5px, 70px);
	}

	&_splitChar {
		font-size: get_em(80px, 70px);
		-webkit-text-stroke-width: get_em(2px, 90px);
	}
}

.previewImage {
	margin-top: get_percent(40px, $modal-inner-width);
	background-color: #1c2023;
}

.form {
	margin-top: get_percent(50px, $modal-inner-width);

	&_block {
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;

		&:not(:first-of-type) {
			margin-top: get_percent(30px, $modal-inner-width);
		}
	}

	&_label {
		font-family: $font-notosans;
		font-size: get_size_pc(28px);
		font-weight: 500;
		color: #000;

		@include min-md {
			font-size: max(16px, get_px_to_vw(28px, $sp-viewport));
		}
	}

	&_error {
		display: inline-block;
		margin-left: 0.5em;
		font-size: get_em(20px, 28px);
		font-weight: 500;
		color: red;
	}

	&_input {
		padding: get_em(7px, 25px) get_em(12px, 25px) get_em(9px, 25px);
		margin-top: get_em(15px, 25px);
		font-family: $font-notosans;
		font-size: get_size_pc(28px);
		font-weight: 500;
		color: #000;
		border: 1.5px solid #000;
		border-radius: 5px;

		@include min-md {
			font-size: max(16px, get_px_to_vw(28px, $sp-viewport));
		}
	}

	&_textarea {
		padding: get_em(7px, 25px) get_em(12px, 25px) get_em(9px, 25px);
		margin-top: get_em(15px, 25px);
		font-family: $font-notosans;
		font-size: get_size_pc(28px);
		font-weight: 500;
		color: #000;
		resize: none;
		border: 1.5px solid #000;
		border-radius: 5px;

		@include min-md {
			font-size: max(16px, get_px_to_vw(28px, $sp-viewport));
		}

		@include customScrollBar;
	}
}

.saveButton {
	display: block;
	width: max-content;
	padding: get_em(15px, 30px) get_em(30px, 30px) get_em(17px, 30px);
	margin-inline: auto;
	margin-top: 20px;
	font-family: $font-notosans;
	font-size: get_size_pc(30px);
	font-weight: 700;
	color: #fff;
	background-color: #79ccd3;
	border-radius: 5px;

	@include min-md {
		font-size: get_px_to_vw(30px, $sp-viewport);
	}
}

.close {
	position: absolute;
	right: get_size_pc(10px);
	bottom: get_size_pc(10px);
	width: get_percent(60px, 660px);
	aspect-ratio: 1 / 1;
	padding-top: get_percent(60px, 740px);
	background-color: #fff;
	border: 1.5px solid #000;
	border-radius: 50%;
	transition: 0.15s background-color;

	@include min-md {
		right: get_px_to_vw(10px, $sp-viewport);
		bottom: get_px_to_vw(10px, $sp-viewport);
	}

	@include hover {
		background-color: #000;

		&::before,
		&::after {
			background-color: #fff;
		}
	}

	&::before,
	&::after {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 2px;
		height: 50%;
		content: '';
		background-color: #000;
		transition: 0.15s background-color;
	}

	&::before {
		transform: translate(-50%, -50%) rotate(45deg);
	}

	&::after {
		transform: translate(-50%, -50%) rotate(-45deg);
	}
}
