@use '~/styles/common' as *;

.container {
	position: relative;
	display: flex;
	flex-flow: column;
	width: 100%;
}

.model {
	position: relative;
	width: 100%;
	max-width: 500px;
	margin-inline: auto;

	&::after {
		position: relative;
		z-index: -1;
		display: block;
		width: 100%;
		padding-top: get_percent(1080px, 850px);
		content: '';
	}
}

.panel {
	&_colors {
		display: flex;
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;

		&_item {
			width: 100px;
		}

		&_btn {
			width: 100%;
			padding: 10px 5px;
			font-weight: bold;
			color: #403535;
			cursor: pointer;
			border-radius: 5px;
		}
	}
}
