@use '~/styles/common' as *;

.container {
	position: relative;
	display: flex;
	flex-flow: column;
	width: 100%;
	min-height: 100vh;
}

.preview {
	position: relative;
	width: 100%;
	padding: min(5%, 20px);
	margin-inline: auto;
	background-color: #1c2023;

	&::after {
		position: relative;
		z-index: -1;
		display: block;
		width: 100%;
		padding-top: get_percent(1080px, 850px);
		content: '';
	}
}

.panel {
	position: relative;
	flex-grow: 1;
	background-color: #fff;

	&_inner {
		@include inner;

		padding-block: 20px;
	}
}

.tree {
	position: relative;
	display: flex;
	column-gap: 20px;
	align-items: center;
	width: 100%;

	&_colors {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 5px;

		&_item {
			display: flex;
			width: 40px;
		}

		&_btn {
			width: 100%;
			aspect-ratio: 1 / 1;
			font-weight: bold;
			color: #403535;
			cursor: pointer;
			border-radius: 5px;
		}
	}
}

.decoration {
	margin-top: 30px;

	&_list {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}

	&_item {
		width: 100%;

		&_btn {
			width: 100%;
			aspect-ratio: 1 / 1;
			background-color: #e7e7e7;
			border-radius: 5px;
		}
	}
}
